body {
  margin: auto 0;
  line-height: 1.5em;
}

nav {
  /* text-align: center; */
  margin: 15px 50px;
  /* position: fixed; */
  background-color: white;
  /* background-color: lightgray; */
  /* overflow: hidden; */
}

/* nav div img {
   text-align: center;
} */



#site-logo img {
  /* display: block; */
  /* width: 70%; */

}

#nav-links-wrapper {
  display: inline-flex;
  align-items: flex-end;
  width: 100%;
}

/* controls the text links, not the logo */
 #flex-links-wrapper {
  /* trying to align links to right but not working */
  margin-bottom: 21px;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-link, .nav-link a {
  margin-left: 23px;
  /* margin-right: auto; */
  font-family: 'Merriweather', serif;
  font-size: 24px;
  color: #BE854C;
  text-decoration: none;
  margin-bottom: 5px;

}

/* .top-image {
  width: 100%;
   /* position: relative; */
   /*opacity: 0.6;
} */

.background-image img {
  max-width: 100%;
  position: absolute;
  opacity: 0.7;
  z-index: -1;
}

#service-container-wrapper {
  display: inline-flex;
  padding-top: 150px;
  width: 100%;
  justify-content: space-around;
}

#service-container-wrapper h2 {
  display: block;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #4b4b4b;
}

.card {
  padding: 15px;
  width: 25%;
  height: 35%;
  background-color: white;
  background-image: cover;
  text-align: center;
  box-shadow: 10px 10px 16px -7px rgba(0,0,0,0.45);
  -webkit-box-shadow: 10px 10px 16px -7px rgba(0,0,0,0.45);
  -moz-box-shadow: 10px 10px 16px -7px rgba(0,0,0,0.45);
}

#info-wrapper {
  padding-top: 60px;
}

/* select p tags that come after h3 */
h3, h3 + p {
  margin: 30px 35px;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #4b4b4b;
}

li:nth-child(even) {
  margin-bottom: 10px;
}



/* #info-wrapper { */
/* h2 {
  padding-top: 50%;
  position: absolute;
} */
